body {
  height: 100vh;
}

#searchDiv {
    background-color: rgb(239, 237, 237);
    padding-top: 10px;
}

#weatherDiv {
    background-color: whitesmoke;
}

#searchedCity {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.mainContainer {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.appContainer > .row {
  height: 100%;
}

.fiveday {
    color: white;
    margin-top: 5px; 
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    column-width: 10px;
    font-size: small;
}

.fivedayCard {
  padding: 10px;
  margin-right: 5px;
}

#headingDiv {
    background-color: rgb(56, 56, 56);
}

#heading {
    color: white; 
    text-align: center; 
    padding: 5px;
}

#displayCard {
    margin-top: 15px; 
    margin-bottom: 15px; 
    padding: 10px;
}

#UV {
  padding: 5px;
}


.low {
    background-color: #00ff2a;
  
 
  }
  
  .moderate {
    background-color: #ffff00;

  }
  
  .high {
    background-color: #ff8c00;

  }

  .veryHigh {
    background-color: #ff0000;

  }

  .extreme {
    background-color: #c300ff;

  }

  .weatherFive {
    width: 50px;
    height: 50px;
  }

  #weatherIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
