#searchDiv {
    background-color: whitesmoke;
    padding-top: 10px;
}

#weatherDiv {
    background-color: whitesmoke;
}

.fiveday {
    color: white;
    margin-top: 5px; 
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    column-width: 10px;
    font-size: small;
}

#headingDiv {
    background-color: rgb(56, 56, 56);
}

#heading {
    color: white; 
    text-align: center; 
    padding: 5px;
}

#displayCard {
    margin-top: 15px; 
    margin-bottom: 15px; 
    padding: 10px;
}


.low {
    background-color: #00ff2a;
 
  }
  
  .moderate {
    background-color: #ffff00;

  }
  
  .high {
    background-color: #ff8c00;

  }

  .veryHigh {
    background-color: #ff0000;

  }

  .extreme {
    background-color: #c300ff;

  }
